img {
  width: 40rem;
}

@media screen and (max-width: 768px) {
  .image1 {
    width: 360px;
    height: auto;
    overflow: hidden;
  }
  img {
    width: 50rem;
    height: auto;
    overflow: hidden;
  }
}
